{% set page_title = "Reset Password" %}

{% extends "base.html" %}
{% block page_content %}
{% import "macros/wtf_macros.html" as wtf %}
<h1>Reset Password</h1>
<form method="POST" action="{{ url_for('auth.reset_password') }}" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ wtf.inline_field(form.username, "your_username")}}
    {{ wtf.inline_field(form.email, "youremail@example.com")}}
    <div class="control-group">
        <div class="controls">
            <br><button type="submit" class="btn">Send new Password</button>
        </div>
    </div>
</form>
<a href="{{ url_for('auth.login') }}">Login</a>
{% endblock %}
