{% set page_title = "Profile" %}

{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#" data-toggle="tab">Comments</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            <p><h1>About Me</h1></p>
            <p><b>Fullname:</b> {% if user.fullname %}{{ user.fullname }}{% endif %}</p>
            <p><b>Location:</b> {% if user.location %} {{ user.location }} {% endif %}</p>
            <p><b>Gender:</b> {% if user.sex %} {{ user.sex }} {% endif %}</p>
            <p><b>About me:</b> {% if user.about_me %}{{ user.about_me | markdown }}{% else %}User has not added an description{% endif %}</p>
            <p><b>Joined:</b> {% if user.regdate %}{{ user.regdate|datetime('alphabet') }}{% else %}Chuck Norris{% endif %}
            <p><b>Last seen on:</b> {% if user.lastvisit %}{{ user.lastvisit|datetime('normal') }}{% endif %}</p>
            {% if current_user.username == user.username %}
                <a href="{{ url_for('users.editprofile', username=current_user.username) }}">Edit</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
