{% set page_title = "Login" %}

{% extends "base.html" %}
{% block page_content %}
{% import "macros/wtf_macros.html" as wtf %}
<h1>Sign in</h1>
<form method="POST" action="" name="login" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ wtf.inline_field(form.username)}}
    {{ wtf.inline_field(form.password)}}
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                {{ form.remember_me }} Remember me
            </label>
            <button type="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>
<a href="{{ url_for('auth.reset_password') }}">Password forgotten?</a>
{% endblock %}
