<hr>
{% if current_user.is_authenticated() %}
<h1 name="new_comment">New Comment</h1><br />
<form action="{{ url_for('blog.new_comment', id=id) }}" method="post" name="new" class="form-horizontal_field">
    {{ form.hidden_tag() }}

    Content:<br />
    {{ form.content(class="container", rows="5") }} <br />

    <button type="submit" class="btn">Submit!</button>
</form>
{% endif %}
<table class="table table-hover">
{% for comment in comments %}
    <tr>
        <td width="70px"><a href="{{ url_for('users.profile', username=comment.author.username) }}">Picture {{ comment.author.username }}</a></td>
        <td>
            <p>{{ comment.author.username }}</p>

            <p><strong><span id="post{{ comment.cid }}">{{ comment.content }}</span></strong></p>
            {% if current_user.is_authenticated() and current_user.is_admin() %}
            <i class="icon-edit"></i> <a href="{{ url_for('blog.delete_comment', pid=id, cid=comment.cid) }}">Delete Comment</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

