{%- macro inline_field(field) %}
{%- with required = "required" if kwargs['required'] or field.flags.required else "" -%}
{{field(placeholder=field.label.text, required=required, **kwargs)}}
{%- endwith %}
{%- endmacro %}

{%- macro horizontal_field(field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    {{field.label(class="control-label")}}
    <div class="controls">
        {{field(**kwargs)}}
        {%- if field.errors %}
            {%- for error in field.errors %}
                <p class="help-block">{{error}}</p>
            {%- endfor %}
        {%- elif field.description -%}
            <p class="help-block">{{field.description|safe}}</p>
        {%- endif %}
    </div>
</div>
{% endmacro %}


{% macro navlink(endpoint, name, active='') %}
<li {% if endpoint == request.endpoint or active == endpoint %}class="active"{% endif%}><a href={{ url_for(endpoint) }}>{{ name }}</a>
{% endmacro %}


{% macro form_errors(form, hiddens=True) %}
{%- if form.errors %}
    {%- for fieldname, errors in form.errors.iteritems() %}

        {%- if (form[fieldname] and hiddens) or (form[fieldname] and hiddens != 'only') %}
            {%- for error in errors %}
                <p class="error">{{error}}</p>
            {%- endfor %}
        {%- endif %}

    {%- endfor %}
{%- endif %}
{%- endmacro %}