.blog-info {
    font-size:15px;
    color:#999999;
    padding: 0;
    margin-top:5px;
    margin-bottom:10px;
    margin-right: 0px;
    margin-left: 0px;
}
.blog-info ul {
    list-style-type:none;
}
.blog-info li {
    display:inline;
    padding-right:10px;
}

.blog-info a {
    color:#999999;
}
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5 {
    font-weight:500;
}

table {
    table-layout: fixed;
}

table th,
table td {
    overflow: hidden;
}
