{% extends "base.html" %}
{% block page_content %}
{% import "macros/wtf_macros.html" as wtf %}
<h1>Register</h1>
<form method="POST" action="{{ url_for('frontend.register') }}" class="form-horizontal">
    {{ form.hidden_tag() }}
    {{ wtf.horizontal_field(form.username) }}
    {{ wtf.horizontal_field(form.email) }}
    {{ wtf.horizontal_field(form.password) }}
    {{ wtf.horizontal_field(form.confirm_password) }}
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                {{ form.accept_tos }} <a href="#"><b>Terms Of Service</b></a>
            </label>
            <br><button type="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>
<a href="{{ url_for('frontend.login') }}">Login</a>
{% endblock %}
