{% set page_title = "Reset Password" %}

{% extends "base.html" %}
{% block page_content %}
{% import "macros/wtf_macros.html" as wtf %}
<h1>Reset Password</h1>
<form method="POST" action="{{ url_for('frontend.reset_password') }}" class="form-horizontal">
    {{ form.csrf_token }}
    <div class="control-group">
        <label class="control-label" for="inputUsername">Username:</label>
        <div class="controls">
            {{ wtf.inline_field(form.username)}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">E-Mail:</label>
        <div class="controls">
            {{ wtf.inline_field(form.email)}}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <br><button type="submit" class="btn">Send new Password</button>
        </div>
    </div>
</form>
<a href="{{ url_for('frontend.login') }}">Login</a>
{% endblock %}
