{% set page_title = "Reset Password" %}

{% extends "base.html" %}
{% block page_content %}
{% import "macros/wtf_macros.html" as wtf %}
<h1>Reset Password</h1>
<form method="POST" action="{{ url_for('frontend.reset_password') }}" class="form-horizontal">
    {{ form.csrf_token }}
    {{ wtf.horizontal_field(form.email) }}
    {{ wtf.horizontal_field(form.password) }}
    {{ wtf.horizontal_field(form.confirm_password) }}
    <div class="control-group">
        <div class="controls">
            <br><button type="submit" class="btn">Change</button>
        </div>
    </div>
</form>
<a href="{{ url_for('frontend.login') }}">Login</a>
{% endblock %}
