{% set page_title = "Edit Profile" %}

{% extends "base.html" %}
{% block page_content %}
<form action="{{ url_for('users.editprofile', username=current_user.username) }}" method="post" name="edit">
    <fieldset>

    {%- from 'macros/wtf_macros.html' import form_field -%}
    {{ form.hidden_tag() }}

    <legend>Edit your Profile</legend>

    {{ form_field(form.fullname) }}

    {{ form_field(form.location) }}

    {{ form_field(form.sex) }}

    {{ form_field(form.about_me, rows="20", class="span10", placeholder="**With markdown support!**") }}

    <button type="submit" class="btn">Save!</button>

    </fieldset>
</form>
{% endblock %}
