{% extends "base.html" %}
{% block page_content %}

<h2>SomeBlocks - Minecraft Server</h2>

<div class="row-fluid">

    <div class="span4">
        <img src="/static/floating_islands.jpg" class="img-polaroid">
    </div>

    <div class="span8">
        <p>On our server, we offer two different game worlds.
          The creative world named "Asgard" and our survival world "Midgard".<br>
          We run the (somehow unofficial) minecraft server wrapper Bukkit with a few <a href="#">plugins.</a><br>
          On the left side you can see a picture of our floating island-city named Skypia.<br>
          If you want to view our map please click this big blue button! :)</p>
        <a class="btn btn-primary btn-large" href="/map">Live Map</a>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>Server Status</h2>
        {% if hostip %}
            <p><b>Server Name: </b><span class="label label-info">{{ hostname }}</span></p>
            <p><b>Server Status: </b><span class="label label-success">online</span></p>
            <p><b>Online Players: </b> {% if online %}{{ online }}{% else %}0{% endif %}/{{ maxplayers }}</p>
        {% else %}
            <p><b>Server Name: </b><span class="label label-info">{{ hostname }}</span></p>
            <p><b>Server Status: </b><span class="label label-important">offline</span></p>
        {% endif %}
    </div>
    <div class="span4">
        <h2>Online Players</h2>
        <p>
        {% if players %}
            {% for i in range(0, players|count) %}
                <a href="/stats/single_player.php?p={{ players[i] }}"><b>{{ players[i] }}</b></a>{% if not loop.last %},{% endif %}
            {% endfor %}
        {% elif not hostip %}
                The server is offline.
        {% else %}
               There are currently no players online!
        {% endif %}
        </p>
    </div>
    <div class="span4">
        <h2>Minecraft News</h2>
        {% if rss %}
            {% for title, link in rss %}
                <p><a href="{{ link }}">{{ title }}</a></p>
            {% endfor %}
            {% else %}
                <p>Couldn't find an RSS feed. Is your link correct?</p>
        {% endif %}
    </div>
</div>

{% endblock %}
