{% set page_title = "SomeBlocks Gaming | Home" %}

{% extends "gaming/layout.html" %}
{% block content %}
<!-- Heading Row -->
<div class="row">
    <div class="col-md-5">
        <img class="img-responsive img-rounded" src="{{ url_for('static', filename='imgs/floating_islands.jpg') }}" alt="">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-7">
        <h1>Minecraft</h1>
        <p>
            On our server, we offer two different game worlds. The creative world named "Asgard" and our survival world "Midgard".
            This server is hosted for friends from friends. We are just a small community who actually really like to play Minecraft from time to time.
        </p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('gaming.map') }}">Live Map</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<hr>

<!--
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success">
            <strong>Announcements</strong>
            <a class="news-item" href="#">SomeBlocks restructured with a new Design</a>
        </div>
    </div>
</div>
-->

<!-- Content Row -->
<div class="row">
    <div class="col-md-4">
        <h2>Server Status</h2>

        <div class="server-status">
            <div class="server">
                <strong>Minecraft Survival Server</strong>
                <div class="status">
                    {% if mc %}
                    <span class="badge badge-info">{{ config["MC_SERVER"] }}</span>
                    <span class="badge badge-success">online</span>
                    <span class="badge">{{ mc.players.online }}/{{ mc.players.max }}</span>
                    {% else %}
                    <span class="badge badge-info">{{ config["MC_SERVER"] }}</span>
                    <span class="badge badge-danger">offline</span>
                    <span class="badge">n/a</span>
                    {% endif %}
                </div>
            </div>
            <div class="server">
                <strong>Minecraft Creative Server</strong>
                <div class="status">
                    <span class="badge badge-info">someblocks.com:25566</span>
                    <span class="badge badge-danger">offline</span>
                    <span class="badge">0/20</span>
                </div>
            </div>

            <div class="server">
                <strong>TeamSpeak 3 Server</strong>
                <div class="status">
                    {% if ts3 %}
                    <span class="badge badge-info">{{ config["TS3_IP"] }}</span>
                    <span class="badge badge-success">online</span>
                    <span class="badge">{{ ts3["server"][0]["virtualserver_clientsonline"]|int - 1 }}/{{ ts3["server"][0]["virtualserver_maxclients"] }}</span>
                    {% else %}
                    <span class="badge badge-info">{{ config["TS3_IP"] }}</span>
                    <span class="badge badge-danger">offline</span>
                    <span class="badge">n/a</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Online Players</h2>
        <strong>Minecraft</strong>
        {% if mc %}
            <p>
            {% for player in mc.players.names %}
                {{ player }}
            {% else %}
            <p>No players online</p>
            {% endfor %}
            </p>
        {% else %}
        <p>No players online.</p>
        {% endif %}
        <strong>Teamspeak</strong>
        {% if ts3 and ts3["server"][0]["virtualserver_clientsonline"]|int > 1 %}
            <p>
            {% for player in ts3["clients"].values() %}
                {% if player["client_type"]|int == 0 %}
                    {{ player["client_nickname"] }}
                {% endif %}
            {% endfor %}
            </p>
        {% else %}
        <p>No players online.</p>
        {% endif %}
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
        <h2>Updates</h2>
        {% if rss %}
            {% for title, link in rss %}
                <p><a href="{{ link }}">{{ title }}</a></p>
            {% endfor %}
            {% else %}
                <p>Couldn't find an RSS feed. Is your link correct?</p>
        {% endif %}
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
{% endblock %}
