<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SomeBlocks Gaming">
    <meta name="author" content="SomeBlocks Team">

    <title>SomeBlocks Gaming</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="imgs/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/someblocks.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SomeBlocks  <i class="fa fa-gamepad"></i> Gaming</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="worlds.html">Worlds</a>
                    </li>
                    <li>
                        <a href="http://gaming.someblocks.com/map">Live Map</a>
                    </li>
                    <li>
                        <a href="news.html">News</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">News
                    <small>All about Gaming</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

             <h1><a href="/topic/14-fantastic-look-and-fantastic-forum">Fantastic Look, and fantastic forum.</a></h1>
             <ul class="blog-info">
                 <li><i class="fa fa-calendar"></i> Oct 27 2014</li>
                 <li><i class="fa fa-user"></i> <a href="/user/Benny">Benny</a></li>
                 <li><i class="fa fa-comment"></i> <a href="/topic/14-fantastic-look-and-fantastic-forum">Comments (4)</a></li>
             </ul>
             <div class="blog-content">
                 Freaking Fantastic Forum!!, Please do organized  it like mybb.org so people can ask questions , get information about how the development is going on and etc..<br/><br/><br />
             </div>
             <hr>

             <h1><a href="/topic/13-flaskbb-on-lowly-arm-devices-help-and-input-requested">FlaskBB on lowly ARM devices.  Help and input requested.</a></h1>
             <ul class="blog-info">
                 <li><i class="fa fa-calendar"></i> Oct 27 2014</li>
                 <li><i class="fa fa-user"></i> <a href="/user/elroot">elroot</a></li>
                 <li><i class="fa fa-comment"></i> <a href="/topic/13-flaskbb-on-lowly-arm-devices-help-and-input-requested">Comments (3)</a></li>
             </ul>
             <div class="blog-content">
                 New here and to FlaskBB.  Thanks for the project and all your work.<br/><br/>Looking to deploy Flask on ARM devices.  Low powered tiny RAM (128MB) + SD card storage&#8230;   Currently have FlaskBB installed and partially working.<br/><br/>Need some help on a straight Nginx config file utilizing reverse proxy vs. the uWSGI addon recommended.  Or is such elimination unwise?<br/><br/>This is for LAN based use only.  Limited users. Simultaneously,  1-5 people using such.<br/><br/>Looking for recommended optimizations and alternative installation ideas to reduce CPU use, reduce RAM consumption, etc.<br />
             </div>

        <hr>
    </div>
    <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <p class="text-muted pull-left">&copy; 2015 - <a href="http://someblocks.com">SomeBlocks.com</a></p>
            <p class="text-muted pull-right"><span style="color: #48C9B0; font-size: 1.25em"><i class="fa fa-gamepad"></i></span> with <span style="color: #C23A23; font-size: 1.25em">&hearts;</span> in Austria.</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
