{% set page_title = "SomeBlocks Gaming | The Server" %}

{% extends "gaming/layout.html" %}

{% block content %}

<h1>Our Server</h1>

<p>
We are a small community of friends who enjoy playing Minecraft.
Our server has been online since November the 10th 2010, however, we perform world resets on a regular basis (mostly just affecting our survival world).
We have a few rules to make playing together more fun.
<p>

This includes:
<ul>
    <li>Don't intentionally ruin another user's fun with e.q. griefing, non consensual PVP or overloading the server.
    <li>Follow rule 1 :)
</ul>

<p>
If you have further questions please feel free to contact us.
</p>

<br /><br />
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Downloads</h3>
  </div>
  <div class="panel-body">
    Our old worlds are currently not available!
  </div>
</div>


{% endblock %}
